---
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import {
  faFacebook,
  faYoutube,
  faXTwitter,
} from "@fortawesome/free-brands-svg-icons";
type Props = {
  classes: string;
  styles: string;
  service: string;
  url: string;
};
const { classes, styles, url, service } = Astro.props;
---

<div class={classes} style={styles}>
  {
    service === "facebook" && (
      <a href={url} target="_blank" class="text-3xl hover:text-blue-500">
        <FontAwesomeIcon icon={faFacebook} />
      </a>
    )
  }
  {
    service === "youtube" && (
      <a href={url} target="_blank" class="text-3xl hover:text-red-500">
        <FontAwesomeIcon icon={faYoutube} />
      </a>
    )
  }
  {
    service === "x" && (
      <a href={url} target="_blank" class="text-3xl hover:text-teal-500">
        <FontAwesomeIcon icon={faXTwitter} />
      </a>
    )
  }
</div>
